<!-- Main container for all products, using Bootstrap classes for styling and layout -->
<div class='all-product container'>
  <!-- Section for sorting products, styled with flexbox for alignment -->
  <div class='sort-section d-flex justify-content-between align-items-center'>
    <!-- Page title with custom inline styling -->
    <h1 class='page-title' style="margin-left: -0.9rem; font-weight: 600;">
      ALL PRODUCTS
    </h1>
    <!-- Dropdown menu for sorting products by priority -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sort by priority
      </button>
      <!-- Dropdown items with links triggering sorting functions on click -->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" onclick="linkSort('/product/all-product/sort?sort=price&order=1')">Low to
            high price</a></li>
        <li><a class="dropdown-item" href="#" onclick="linkSort('/product/all-product/sort?sort=price&order=-1')">High
            to low price</a></li>
      </ul>
    </div>
  </div>

  <!-- Row container for filters and products -->
  <div class='row filter-vs-product'>
    <!-- Column for filters -->
    <div class='col-3 filter-section'>
      <!-- Search form -->
      <div class="form-search">
        <form class='search-bar pt-3 align-items-center' action="/product/all-product/search">
          <input type='text' class='search-input col p-4' placeholder='Search...' name="keyword" />
          <!-- Search button with icon -->
          <button class='search-icon-link'>
            <i class='fa-solid fa-magnifying-glass search-icon'></i>
          </button>
        </form>
      </div>

      <!-- CATEGORIES -->
      <div class='filter-type-list mt-5'>
        <span class='list-title'>Category</span>
        <hr />
        <!-- Loop through parent categories -->
        {{#each categories}}
        <div class='parent-category d-flex justify-content-between align-items-center'>
          <!-- Parent category name -->
          <a href='/product/all-product/category?category={{this._id}}' class='category-name'>
            {{this.name}}
            </a>
          <span class='number'>({{this.count}})</span>
        </div>
        <!-- Loop through subcategories of the current category -->
        {{#each this.subcategories}}
        <div class='type-item d-flex justify-content-between align-items-center ps-4'>
          <a href='/product/all-product/category?category={{this._id}}' class="subcategory-name">
            {{this.name}}
          </a>
          <span class='number'>({{this.count}})</span>
        </div>
        {{/each}}
        {{/each}}
      </div>


    </div>

    <!-- Column for displaying products -->
    <div class='col product-section'>
      <!-- Container for trending products -->
      <section class='trend container'>
        <div class='trend-row row'>
          <!-- Loop through products and display each one -->
          {{#each products}}
          <div class="col-3">
            <div class='trend-card card' data-id="{{this._id}}">
              <a href='/product/specific-product/{{this._id}}' class='trend-card-img'>
                <!-- Access the first image from the array of images -->
                <img src='{{this.image.[0]}}' class='trend-prod-img' alt='Product Image' />
              </a>
              <p class='trend-card-title'>{{this.name}}</p>
              <p class='trend-card-price'>{{formatCurrency this.price}} VND</p>
              <a href='/product/specific-product/{{this._id}}' class='btn trend-card-btn'>Buy now</a>
            </div>
          </div>
          {{else}}
          <!-- Display a message if no products are available -->
          <div class="col-12">
            <div class="announcement">
              Không có sản phẩm phù hợp
            </div>
          </div>
          {{/each}}
        </div>
        <!-- Pagination script and template -->
        <div class="row">
          <script>
            let numberOfItems = {{ _numberOfItems }};
            let limit = {{ _limit }};
            let currentPage = {{ _currentPage }};
            let leftMost = currentPage - ((currentPage - 1) % 3);
          </script>
          {{>pagination}}
        </div>
      </section>
    </div>
  </div>
</div>

<!-- External JavaScript files for additional functionality -->
<script src="/js/all-product.js"></script>
<script src="/js/global-link.js"></script>
