<!-- Main container for all products, using Bootstrap classes for styling and layout -->
<div class='all-product container mt-5 mb-5'>

  <!-- Row container for filters and products -->
  <div class='row filter-vs-product'>
    <!-- Column for filters -->
    <div class='col-3 filter-section'>
      <!-- Search form -->
      <div class="form-search">
        <form class='search-bar'>
          <input type='text' class='search-input p-4' placeholder='Tìm kiếm sản phẩm' name="keyword" value="{{searchTerm}}"/>
          <!-- Search button with icon -->
          {{!-- <button class='search-icon-link'>
            <i class='fa-solid fa-magnifying-glass search-icon'></i>
          </button> --}}
        </form>
      </div>

      {{!-- {{> filter-price}} --}}

      <!-- FILTERS -->
      <div class='filter-type-list mt-5'>
        <div class="filter-price-container mb-5">
          <span class='list-title'>Giá</span>
          <hr />
          {{> moji-filter-price}}

          <div id="price-dropdown-container" class="dropdown d-flex justify-content-center">
            <button class="btn btn-secondary dropdown-toggle btn-js-add-cart btn-pink mt-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              Thấp đến cao
            </button>
            <!-- Dropdown items with links triggering sorting functions on click -->
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a id="price-low-high" class="dropdown-item" href="#">
                Thấp đến cao</a></li>
              <li><a id="price-high-low" class="dropdown-item" href="#">
                Cao đến thấp</a></li>
            </ul>
          </div>
        </div>

        <!-- Category Selection -->
        <div class="category-tree-section">
            <span class='list-title'>Danh mục</span>
            <hr />
            <ul class="category-tree">
                {{#each categoryTree}}
                    {{> categoryNode this}}
                {{/each}}
            </ul>
            <!-- Element to display the selected category name -->
            {{!-- <div id="selectedCategoryName" class="selected-category-name"></div> --}}
        </div>
        <input type="hidden" id="selectedCategory" value="">
        <div id="categoryContainer" data-selected-category="{{category}}"></div>

        <div class="filter-btn-container d-flex justify-content-center">
          <button id="filter-btn" class="btn-js-add-cart btn btn-pink mt-3">Lọc</button>
        </div>

        {{!-- <div class="filter-category-container">
          <span class='list-title'>Danh mục</span>
          <hr />
          <!-- Loop through parent categories -->
          {{#each categories}}
          <div class='parent-category d-flex justify-content-between align-items-center'>
            <a href='/product/category/{{this._id}}' class='category-name'>
              {{this.name}}
            </a>
            <span class='number'>({{this.count}})</span>
          </div>
          <!-- Loop through subcategories of the current category -->
          {{#each this.subcategories}}
          <div class='type-item d-flex justify-content-between align-items-center ps-4'>
            <a href='/product/category/{{this._id}}' class="subcategory-name">
              {{this.name}}
            </a>
            <span class='number'>({{this.count}})</span>
          </div>
          {{/each}}
          {{/each}}
        </div> --}}
      </div>
    </div>

    <div class='col product-section blk-pro-cat'>
      <section class='trend container'>
        {{> pagination}}
        <div class='trend-row row'></div>
      </section>
    </div>
  </div>
</div>

<!-- External JavaScript files for additional functionality -->
{{!-- <script src="/js/all-product.js"></script>
<script src="/js/global-link.js"></script> --}}
{{!-- <script src="/js/filterProducts.js"></script> --}}
{{!-- <script type="module" src="/js/renderAllProduct.js"></script> --}}
{{!-- <script type="module" src="/js/applyFilters.js"></script>
<script type="module" src="/js/searchProducts.js"></script> --}}

{{!-- <script src="/js/currentState.js"></script> --}}
<script src="/js/selectCategory.js"></script>
<script type="module" src="/js/initFetchProducts.js"></script>
<script type="module" src="/js/dropDown.js"></script>
{{!-- <script type="module" src="/js/renderProducts.js"></script> --}}