<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-3 ps-4 pe-4">
            <div class="card profileCard" style="min-height: 33rem;">
                <div class="row d-flex justify-content-center">
                    <img class="col-8 mt-3 mb-2 img-thumbnail" id="avatar-img" src={{avatar}} alt="avatar">                
                </div>
                <div class="row text-center mb-3">
                    <h2 style="color: #000">{{lastname}} {{firstname}}</h2>
                </div>
                <div class="row">
                    <div class="offset-2 col-10">
                        <p><a href="/profile">Thông tin tài khoản</a></p>
                        <p><a href="/profile/changepassword" class="hover-a">Đổi mật khẩu</a></p>
                        <p><a href="/order/index">Lịch sử đơn hàng</a></p>
                        <p><a href="/auth-system">Đến hệ thống thanh toán</a></p>
                        <p><a href="/user/logout">Đăng xuất</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-ms-12 ps-4 pe-4">
            <div class="card profileForm">
                <div class="card-body ps-5 pt-5">
                    <h1>Thay đổi mật khẩu</h1>
                    <hr>
                    <form id="updateForm" action="/profile/changepassword" method="post" class="text-end">
                        <div class="row align-items-center">
                            <label for="inputOldPw" class="col-form-label col-md-3 pe-5 mt-4">Mật khẩu cũ</label>
                            <div class="col-md-9 col-lg-6">
                                <input type="password" id="inputOldPw" name="inputOldPw" class="form-control"
                                    value="{{inputOldPw}}" required>
                                <small id="pwErr" class="form-text text-danger">{{oldPwMsg}}</small>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <label for="inputNewPw" class="col-form-label col-md-3 pe-5 mt-4">Mật khẩu mới</label>
                            <div class="col-md-9 col-lg-6">
                                <input type="password" id="inputNewPw" name="inputNewPw" class="form-control" required>
                                <small id="newPwErr" class="form-text text-danger"></small>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <label for="inputConfirmNewPw" class="col-form-label col-md-3 pe-5 mt-4">Xác nhận mật
                                khẩu</label>
                            <div class="col-md-9 col-lg-6">
                                <input type="password" id="inputConfirmNewPw" name="inputConfirmNewPw"
                                    class="form-control" required>
                                <small id="confirmNewPwErr" class="form-text text-danger"></small>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-9 offset-3 text-start mt-3">
                                <button type="submit" class="btn updateButton fs-4">Xác nhận</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3 fs-5">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <small>now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{msg}}
        </div>
    </div>
</div>

<script>
    $(() => {
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')
        if (`{{msg}}`) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastBootstrap.show()
        }
        $('form').submit(function (e) {
            //check confirmPassword
            $('#confirmNewPwErr').html(($('#inputNewPw').val() != $('#inputConfirmNewPw').val()) ? 'Xác nhận mật khẩu không đúng' : '');

            if ($('#confirmNewPwErr').html() == '') {
                $('form').submit();
            }
            else {
                e.preventDefault();
            }
        })
    })
</script>