<div class="d-flex justify-content-center mb-5">
  <div class="card-group mt-5 mb-5">
    <div class="card left-card border-0">
      <div class="card-body m-3">
        <h1 class="card-title fw-bold fs-1">Mật khẩu mới đã được gửi qua email</h1>
        <p class="card-text mb-5"><small class="text-body-secondary">Vui lòng nhập mật khẩu mới để tiếp tục</small></p>
        <form id="signupForm" action="/user/signup" method="post">
          <div class="mb-2">
            <label for="inputEmail" class="form-label mb-1">Email</label>
            <input type="email" class="form-control mt-0" name="inputEmail" id="inputEmail" value="{{email}}" disabled>
            <small id="emailErr" class="form-text text-danger">{{emailMsg}}</small>
          </div>
          <div class="mb-2">
            <label for="inputPassword" class="form-label mb-1">Mật khẩu</label>
            <input type="password" class="form-control mt-0" name="inputPassword" id="inputPassword" required>
          </div>
          <div class="d-grid gap-2 col-12 mt-4">
            <button class="btn btn-outline-dark fs-4" style="height: 4rem" type="submit">Xác nhận</button>
          </div>
        </form>
      </div>
    </div>
    <div class="right-card card border-0">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-8 offset-2">
            <img class="w-100"
              src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395"
              alt="">
          </div>
        </div>
        <div>Quay lại trang đăng nhập? </div>
        <a class="btn btn-outline-dark mt-2 fs-4" href="/user/signin" role="button">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(() => {
    function startCountdown(durationInSeconds) {
      const countdownElement = $('#countdown');
      let remainingTime = durationInSeconds;

      function updateCountdown() {
        const minutes = Math.floor(remainingTime / 60);
        const seconds = remainingTime % 60;

        const formattedTime = `00:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
        countdownElement.text(formattedTime);

        if (remainingTime <= 0) {
          clearInterval(countdownInterval);
        } else {
          remainingTime--;
        }
      }

      // Initial update
      updateCountdown();
      // Update every second
      const countdownInterval = setInterval(updateCountdown, 1000);
    }
    startCountdown(180);
    $('#inputCode').on('copy', function (e) {
      e.preventDefault();
    });

    $('#changePassForm').submit(function (e) {

      $('#PwErr').html(($('#inputPassword').val().length >= 8) ? '' : '<i>password must be at least 8 characters long</i>');
      //check confirmPassword
      $('#confirmPwErr').html(($('#inputNewPassword').val() != $('#inputConfirmPassword').val()) ? '<i>confirm password is incorrect</i>' : '');
      // check confirmCode
      if ($('#countdown').text() === '00:00:00') {
        $('#confirmCode').html('This code is no longer in effect');
      } else {
        $('#confirmCode').html(($('#ConfirmationCode').val() != $('#inputViaCode').val()) ? '<i>code is incorrect</i>' : '');
      }

      if ($('#confirmPwErr').html() === '' && $('#confirmCode').html() === '') {
        $('#changePassForm input[disabled]').removeAttr('disabled');
        $('#changePassForm').submit();
      } else {
        e.preventDefault();
      }
    });
  })
</script>


{{!-- <div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 col-sm-12 mb-3 ps-4 pe-4">
      <div class="card profileCard" style="min-height: 33rem;">
        <div class="row d-flex justify-content-center">
          {{#if avatar}}
          <img class="col-8 mt-3 mb-2 img-thumbnail" id="avatar-img" src={{avatar}} alt="avatar">
          {{else}}
          <img class="col-8"
            src="https://cdn.discordapp.com/attachments/1176168664987345008/1186219554939080724/logo.png?ex=6592740c&is=657fff0c&hm=1231f35e6a5050bbf94b9506c079959ddbba6f079706b86202704bca00f5388f&"
            alt="">
          {{/if}}
        </div>
        <div class="row text-center mb-3">
          <h2 style="color: #000">{{lastname}} {{firstname}}</h2>
        </div>
        <div class="row">
          <div class="offset-2 col-10">
            <p><a href="/profile" class="hover-a">Thông tin tài khoản</a></p>
            <p><a href="/profile/changepassword">Đổi mật khẩu</a></p>
            <p><a href="/order/index">Lịch sử đơn hàng</a></p>
            <p><a href="/user/logout">Đăng xuất</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-ms-12 ps-4 pe-4">
      <div class="card profileForm">
        <div class="card-body ps-5 pt-5">
          <h1>Hồ sơ của tôi</h1>
          <hr>
          <small>Mã xác nhận đã được gửi qua email</small>
          <form id="verifyForm" action="/profile/update" method="post" method="post" class="text-end">
            <div class="row align-items-center">
              <label for="inputEmail" class="col-form-label col-md-3 pe-5 mt-4">Email (*)</label>
              <div class="col-md-9 col-lg-6">
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" value="{{email}}" disabled>
              </div>
            </div>
            <div class="row align-items-center">
              <label for="inputCode" class="col-form-label col-md-3 pe-5 mt-4">Nhập mã xác nhận(*)</label>
              <div class="col-md-9 col-lg-6">
                <input type="text" id="inputCode" name="inputCode" class="form-control" required>
              </div>
              <div class="col-sm-1 d-flex text-danger" style="align-items: center;">
                <i id="countdown">00:03:00</i>
              </div>
            </div>
            <div class="mt-3 row offset-1 text-end" style="margin-left: 10%;">
              <div class="col-sm-3 col-form-label"></div>
              <div class="col-sm-6">
                <i class="d-flex justify-content-center ps-5" style="color: #3D5940;">You need enter this
                  code to set up your
                  new password in 180s.</i>
              </div>
            </div>
            <div class="row align-items-center mt-3">
              <div class="col-9 offset-3 text-start">
                <button type="submit" class="btn updateButton fs-4">Xác
                  nhận</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<small id="PwErr" class="text-danger d-flex justify-content-center"></small>
<div class="mt-3 row offset-1 text-end" style="margin-left: 20%;">
  <label for="inputConfirmPassword" class="col-sm-3 col-form-label">CONFIRM PASSWORD</label>
  <div class="col-sm-5">
    <input type="password" class="form-control" id="inputConfirmPassword" name="inputConfirmPassword"
      placeholder="Enter confirm password" required>
  </div>
</div>
<small id="confirmPwErr" class="text-danger d-flex justify-content-center"></small>
<div class="mt-3 row offset-1 text-end" style="margin-left: 20%;">
  <label for="inputViaCode" class="col-sm-3 col-form-label">VIA CODE</label>
  <div class="col-sm-5">
    <input type="password" class="form-control" id="inputViaCode" name="inputViaCode" placeholder="Enter code" required>
  </div>
  <div class="col-sm-1 d-flex text-danger" style="align-items: center;">
    <i id="countdown">00:03:00</i>
  </div>
</div>
<small id="confirmCode" class="text-danger d-flex justify-content-center"></small>
<div class="mt-3 row offset-1 text-end" style="margin-left: 20%;display: none;">
  <label for="ConfirmationCode" class="col-sm-3 col-form-label">CODE</label>
  <div class="col-sm-5">
    <input style="cursor: not-allowed;" type="text" class="form-control" id="ConfirmationCode" name="ConfirmationCode"
      value="{{viaCode}}" readonly disabled>
  </div>
</div>
<div class="mt-3 row offset-1 text-end" style="margin-left: 10%;">
  <div class="col-sm-3 col-form-label"></div>
  <div class="col-sm-6">
    <i class="d-flex justify-content-center ps-5" style="color: #3D5940;">You need enter this
      code to set up your
      new password in 180s.</i>
  </div>
</div>
<div class="col-12 text-center mt-4">
  <button class="btn fw-bold ps-5 pe-5" type="submit" style="background-color: #3D5940;color: #fff;">SAVE</button>
</div>
</form>
</div> --}}
