<div class="checkout-page container sty-none">
  <form
    id="formCheckOut"
    class="formCheckOut formAcount validate"
    action="/order/CreatAndSendTokenForBuyNow"
    method="post"
  >

    <input
      type="hidden"
      name="total"
      value="{{calculateTotalPrice product.price quantity}}"
    />
    <input type="hidden" name="productID" value="{{product._id}}" />
    <input type="hidden" name="quantity" value="{{quantity}}" />
    <input type="hidden" name="idAdmin" value="{{idAd}}">
    <div class="row">
      <div class="col-checkout col-left col-xl-4 col-lg-6 col-12">
        <h2 class="col-title"><span
            class="d-inline-flex align-items-center justify-content-center"
          >1</span>Thông tin người nhận
        </h2>
        <h3 class=>Họ tên</h3>
        <div class="form-group">
          <input
            id="customerName"
            name="customerName"
            type="text"
            class="form-control input-sm validate[required] m-0 mb-4"
            value="{{accBuyer.lastname}}"
            placeholder="Họ tên *"
            fdprocessedid="tnff65"
            style="font-size: 1.5rem;"
          />
        </div>
        <h3>Điện thoại</h3>
        <div class="form-group">
          <input
            id="customerMobile"
            name="customerMobile"
            type="text"
            class="form-control input-sm validate[required,custom[phone]] m-0 mb-4"
            value="{{accBuyer.phone}}"
            placeholder="Điện thoại *"
            fdprocessedid="a8l56b"
            style="font-size: 1.5rem;"
          />
        </div>
        <h3>Email</h3>
        <div class="form-group">
          <input
            id="customerEmail"
            name="customerEmail"
            type="text"
            class="form-control input-sm m-0 mb-4"
            value="{{accBuyer.email}}"
            placeholder="Email *"
            fdprocessedid="037no"
            style="font-size: 1.5rem;"
          />
        </div>
        <h3>Địa chỉ</h3>
        <div class="form-group">
          <input
            id="customerAddress"
            name="customerAddress"
            type="text"
            class="form-control input-sm m-0 mb-4"
            value="{{accBuyer.address}}"
            placeholder="Address *"
            {{!-- fdprocessedid="037no" --}}
            style="font-size: 1.5rem;"
          />
        </div>
        <h3>Ghi chú</h3>
        <div class="form-group">
          <textarea
            type="text"
            id="description"
            name="description"
            class="form-control input-sm m-0 mb-4"
            rows="3 "
            placeholder="Ghi chú"
            style="font-size: 1.5rem;"
          ></textarea>
        </div>

        <div>Đơn hàng trên website được xử lý trong giờ hành chính</div>

        <div>Vui lòng liên hệ fanpage ngoài khung giờ trên để được hỗ trợ</div>
        <div class="d-none form-check">
          <label class="form-check-label">
            <input name="inforBill" class="form-check-input" type="checkbox" />
            Thông tin hóa đơn trùng với thông tin người nhận
          </label>
        </div>
      </div>

      <div class="col-checkout col-center col-xl-3 col-lg-6 col-12">
        <h2 class="col-title"><span
            class="d-inline-flex align-items-center justify-content-center"
          >2</span>Phương thức thanh toán
        </h2>
        <div class="d-block item">
          {{! <label class="form-check-label" style="display: flex;">
                        <input type="radio" value="4" name="paymentMethod" class="form-check-input" style="border: 0.05rem solid black;">
                        <div class="d-block" data-toggle="collapse" data-target="#p-online" aria-expanded="true">
                            Chuyển khoản trước toàn bộ tiền hàng </div>
                    </label> }}
          {{! <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" style="border: 0.05rem solid black;">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Chuyển khoản trước toàn bộ tiền hàng
                        </label>
                    </div> }}
          <div class="form-check" style="padding-left: 0;">
            {{! <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> }}
            <label class="form-check-label" for="flexCheckDefault">
              Chuyển khoản trước toàn bộ tiền hàng
            </label>
          </div>
          <div
            id="p-online"
            class="col-pay alert alert-warning collapse in show"
          >
            <p><span style="font-size:14px;"><span><span
                    style="text-indent:10px;"
                  >Với phương&nbsp;thức Chuyển khoản trước toàn bộ tiền
                    hàng,&nbsp;bộ phận CSKH sẽ gọi điện đến bạn để xác nhận đơn
                    hàng và hướng&nbsp;dẫn cách thức thanh toán chuyển khoản</span></span></span></p>
          </div>
        </div>
        <input
          type="hidden"
          id="baokimBankPaymentMethodId"
          name="baokimBankPaymentMethodId"
        />
      </div>

      <div class="col-checkout col-right col-xl-5 col-lg-12 col-12">
        <h2 class="col-title"><span
            class="d-inline-flex align-items-center justify-content-center"
          >3</span>Thông tin đơn hàng</h2>
        <div class="table-responsive scrollModal">
          <table class="table table-checkout" border="0" cellspacing="10">
            <thead>
              <tr>
                <th class="text-left" width="55%">Tên sản phẩm</th>
                <th class="text-center" width="20%">Số lượng</th>
                <th class="text-right" width="25%">Thành tiền</th>
              </tr>
            </thead>
            <tbody>

              <tr class="cartItem" data-psid="{{product._id}}">
                <td>
                  <a
                    href="/mu-len-red-and-white-big-knitting-cuc-bong-xmas-do-p37901040.html"
                  >
                    {{product.name}}
                  </a>
                  <div class="clearfix">
                    Đơn giá:
                    <strong>{{formatPrice product.price}}</strong>
                    <div class="d-block"></div>
                  </div>
                </td>
                <td class="text-center">{{quantity}}</td>
                <td class="text-center">
                  <strong class="products-price">{{formatPrice (calculateTotalPrice
                      product.price
                      quantity)
                    }}</strong>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-checkout" border="0" cellspacing="10">
            <tfoot>
              {{!-- <tr>
                <td colspan="2"><strong>Tạm tính</strong></td>
                <td>1.245.000 đ</td>
              </tr>
              <tr>
                <td colspan="2">Phí vận chuyển</td>
                <td id="shipFee" value="0">0 đ</td>
              </tr>
              <tr>
                <td colspan="2"><strong>Mã giảm giá</strong></td>
                <td id="txtCode" value="0">0 đ</td>
              </tr> --}}
              <tr>
                <td colspan="2"><strong>Tổng cộng</strong></td>
                <td id="showTotalMoney" class="totalPrice" value="1245000">
                  1.245.000 đ
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- Sử dụng mã giảm giá -->
        {{!-- <div class="formCode form-group">
          <strong class="d-block">Nhập mã ưu đãi</strong>
          <div class="input-group">
            <input
              type="text"
              id="coupon"
              name="couponCode"
              class="form-control"
              placeholder="Mã giảm giá"
              fdprocessedid="nnirxl"
              style="font-size: 1.5rem;"
            />
            <div class="input-group-btn" style="padding-top: 1.4rem;">
              <button
                class="btn btn-pink"
                id="getCoupon"
                type="button"
                fdprocessedid="ayh69"
                style="height: 4rem;"
              >
                Áp dụng
              </button>
            </div>
          </div>
        </div> --}}
        {{!-- <div id="mss-confirm"></div> --}}

        <div
          class="d-block d-flex justify-content-end"
          style="margin-top: 1.5rem;"
        >
          <button
            class="btn btn-pink d-flex justify-content-center align-items-center"
            style="height:5rem; width:15rem; font-size: 2rem;"
            type="submit"
          >Thanh toán</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
  </div>
</div>

<script src="/js/payment.js"></script>