<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 col-sm-12 mb-3 ps-4 pe-4">
      <div class="card profileCard" style="min-height: 33rem;">
        <div class="row d-flex justify-content-center">
          <img
            class="col-8 mt-3 mb-2 img-thumbnail"
            id="avatar-img"
            src={{avatar}}
            alt="avatar"
          />
        </div>
        <div class="row text-center mb-3">
          <h2 style="color: #000">{{lastname}} {{firstname}}</h2>
        </div>
        <div class="row">
          <div class="offset-2 col-10">
            <p><a href="/profile" class="hover-a">Thông tin tài khoản</a></p>
            <p><a href="/profile/changepassword">Đổi mật khẩu</a></p>
            <p><a href="/order/index">Lịch sử đơn hàng</a></p>
            <p><a href="/auth-system">Đến hệ thống thanh toán</a></p>
            <p><a href="/user/logout">Đăng xuất</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-ms-12 ps-4 pe-4">
      <div class="card profileForm">
        <div class="card-body ps-5 pt-5">
          <h1>Hồ sơ của tôi</h1>
          <hr />
          <form
            id="updateForm"
            action="/profile/update"
            method="post"
            method="post"
            class="text-end"
            enctype="multipart/form-data"
          >
            <div class="row align-items-center">
              <label
                for="inputLName"
                class="col-form-label col-md-3 pe-5 mt-4"
              >Họ (*)</label>
              <div class="col-md-9 col-lg-6">
                <input
                  type="text"
                  id="inputLName"
                  name="inputLName"
                  class="form-control"
                  value="{{lastname}}"
                  required
                />
                <small id="lNameErr" class="form-text text-danger"></small>
              </div>
            </div>
            <div class="row align-items-center">
              <label
                for="inputFName"
                class="col-form-label col-md-3 pe-5 mt-4"
              >Tên (*)</label>
              <div class="col-md-9 col-lg-6">
                <input
                  type="text"
                  id="inputFName"
                  name="inputFName"
                  class="form-control"
                  value="{{firstname}}"
                  required
                />
                <small id="fNameErr" class="form-text text-danger"></small>
              </div>
            </div>
            <div class="row align-items-center">
              <label
                for="inputPhoneNumber"
                class="col-form-label col-md-3 pe-5 mt-4"
              >Điện thoại (*)</label>
              <div class="col-md-9 col-lg-6">
                <input
                  type="text"
                  id="inputPhoneNumber"
                  name="inputPhoneNumber"
                  class="form-control"
                  value="{{phone}}"
                  required
                />
                <small id="phoneNumErr" class="form-text text-danger"></small>
              </div>
            </div>
            <div class="row align-items-center">
              <label
                for="inputEmail"
                class="col-form-label col-md-3 pe-5 mt-4"
              >Email (*)</label>
              <div class="col-md-9 col-lg-6">
                <input
                  type="email"
                  id="inputEmail"
                  name="inputEmail"
                  class="form-control"
                  value="{{email}}"
                  required
                />
              </div>
            </div>
            <div class="row align-items-center">
              <label
                for="inputAddress"
                class="col-form-label col-md-3 pe-5 mt-4"
              >Địa chỉ chi tiết (*)</label>
              <div class="col-md-9 col-lg-6">
                <input
                  type="text"
                  id="inputAddress"
                  name="inputAddress"
                  class="form-control"
                  value="{{address}}"
                  required
                />
              </div>
            </div>
            <div class="row align-items-center">
              <label
                for="inputAddress"
                class="col-form-label col-md-3 pe-5 mt-4"
              >Avatar </label>
              <div class="col-md-9 col-lg-6">
                <input
                  type="file"
                  id="inputImg"
                  name="img"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row align-items-center mt-3">
              <div class="col-9 text-center w-100">
                <button type="submit" class="btn updateButton fs-3">Cập nhật</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{{! <script src="https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js"></script> }}
<script src="/js/profile.js"></script>