<main class="mains d-flex justify-content-center">
  <div class="container">
    <div class="row w-100">
      
      <div id="productImageCarousel" class="carousel slide w-50" data-bs-ride="carousel">
        <!-- Dynamically create carousel indicators based on the number of images -->
        <div class="carousel-indicators">
          {{#each product.image}}
          <button type="button" data-bs-target="#productImageCarousel" data-bs-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}" aria-current="{{#if @first}}true{{/if}}" aria-label="Slide {{@index}}"></button>
          {{/each}}
        </div>
        
        <!-- Carousel items -->
        <div class="carousel-inner">
          {{#each product.image}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            <img src="{{this}}" class="carousel-img d-block" alt="{{../product.name}}">
          </div>
          {{/each}}
        </div>
        
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#productImageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productImageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="blk-pview-info col-lg-6 col-md-12 col-sm-12">
        <div class="blk-code">
          <div class="title">{{product.name}}</div>
          <div class="code">Mã sản phẩm: {{product._id}}</div>
        </div>
        <div class="blk-price">
          <div class="product-price">
            <!-- Assuming price is in a number format -->
            <span class="price">{{formatCurrency product.price}} VND</span>
          </div>
        </div>
        <div class="blk-action d-inline-flex pull-right">
          <div class="b-ac shares"><i class="fa fa-share-alt"></i></div>
          <div class="b-ac wish" data-psid="37901384"><i
              class="fa fa-heart-o"
            ></i></div>

          <div class="share-icon d-block full clearfix">
            <strong>Chia sẻ đến:</strong>
            <a
              href="https://www.facebook.com/sharer/sharer.php?u=https://moji.vn/gau-bong-ms-funny-vibes-fruit-avocado-trai-bo-moi-day-25cm-p37901384.html"
              data-label="facebook"
              class="d-inline-flex align-items-center justify-content-center"
            >
              <i class="fa fa-facebook"></i>
            </a>
            <a
              href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://moji.vn/gau-bong-ms-funny-vibes-fruit-avocado-trai-bo-moi-day-25cm-p37901384.html&amp;title=Gấu bông MS Funny vibes fruit avocado trái bơ môi dày 25cm"
              data-label="instagram"
              class="d-none align-items-center justify-content-center"
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              href="http://www.twitter.com/share?url=https://moji.vn/gau-bong-ms-funny-vibes-fruit-avocado-trai-bo-moi-day-25cm-p37901384.html"
              data-label="twitter"
              class="d-none align-items-center justify-content-center"
            >
              <i class="fa fa-twitter"></i>
            </a>
            <a
              href="http://pinterest.com/pin/create/button/?url={https://moji.vn/gau-bong-ms-funny-vibes-fruit-avocado-trai-bo-moi-day-25cm-p37901384.html}&amp;media={https://pos.nvncdn.com/cba2a3-7534/ps/20231218_x7MWNOeY2Q.jpeg}&amp;description={Gấu bông MS Funny vibes fruit avocado trái bơ môi dày 25cm}"
              data-label="pinterest"
              class="d-none align-items-center justify-content-center"
            >
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
        </div>

        <div class="blk-att" data-label="Màu sắc, size sản phẩm">
          <div class="r-at-r d-flex align-items-center">
            <label class="pull-left">Số lượng</label>
            <div class="pull-left">
              <div
                class="blk-qty d-flex justify-content-center align-items-center"
              >
                <div
                  class="blk-qty-btn minus d-flex justify-content-center align-items-center"
                >-</div>
                <input
                  class="blk-qty-input d-flex justify-content-center align-items-center product-quantity"
                  type="text"
                  id="quantity"
                  max="50"
                  min="1"
                  value="1"
                />
                <div
                  class="blk-qty-btn plus d-flex justify-content-center align-items-center"
                >+</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div
            class="r-at-r d-sm-flex align-items-center clearfix"
            data-label="btn"
          >
            <div
              id="addToCart"
              class="btn-js-add-cart btn btn-pink"
              data-psid="{{product._id}}"
              data-selid="37901385"
              data-ck="1"
            >Thêm vào giỏ hàng</div>
            <div
              id="addPayNow"
              class="btn-js-add-cart btn btn-pink"
              data-psid="{{product._id}}"
              data-selid="37901385"
              data-ck="1"
            >Mua ngay</div>
          </div>
          <div id="mss-alret"></div>
        </div>
      </div>
      <!-- end blk-pview-info -->

      <div class="col-lg-12 col-md-12 col-sm-12" data-label="Nội dung sản phẩm">
        <div class="blk-pview-content full clearfix">
          <div class="blk-pview-title">Mô tả sản phẩm</div>
          <div class="content full clearfix">
            <!-- Product description -->
            <p>{{product.description}}</p>
          </div>
        </div>
      </div>

      <div class="trend w-100 d-flex flex-column justify-content-center">

        <div class="row justify-content-center">
          <div class="rectangle col"></div>
          <div class="main-heading col-md-auto">RELATED PRODUCT</div>
          <div class="rectangle col"></div>
        </div>

        <div class="row trend-row">
          {{#each related}}
        
              {{> productitem id=this._id image=this.image.[0] title=this.name price=this.price}}

          {{/each}}
        </div>
        
      </div>

    </div>
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addToCartButton = document.getElementById('addToCart');
    const buyNowButton = document.getElementById('addPayNow');
    if (addToCartButton) {
        addToCartButton.addEventListener('click', function() {
            const productId = this.getAttribute('data-psid');
            const quantity = parseInt(document.getElementById('quantity').value, 10);
            addToCart(productId, quantity);
        });
    }
    if (buyNowButton) {
        buyNowButton.addEventListener('click', function() {
            const productId = this.getAttribute('data-psid');
            const quantity = parseInt(document.getElementById('quantity').value, 10);
            buyNow(productId, quantity);
        });
    }
});

function addToCart(productId, quantity) {
    fetch('/product/cart/add', {  // Replace with your server's URL endpoint
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ productId, quantity }),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Product added to cart:', data);
        // Optionally, update the UI to reflect the new cart status
    })
    .catch(error => {
        console.error('Error adding product to cart:', error);
    });
}
function buyNow(productId, quantity) {
    const url = new URL('/paymentBuyNow', window.location.origin);
    url.searchParams.append('productId', productId);
    url.searchParams.append('quantity', quantity);

    window.location.href = url; // Redirects the user to the new URL
}



</script>