<div class="card-body">
    <div class="product-item item{{id}}" data-psid="{{id}}">
        <div class="image">
            {{#if isnew}}
            <span class="flag">New</span>
            {{/if}}
            <img data-sizes="auto" class="lazyautosizes ls-is-cached lazyloaded" src="{{image}}" data-src="{{image}}"
                alt="{{title}}" />
        </div>
        <h3 class="name">
            <a href="/product/{{id}}" title="{{title}}">
                {{title}}
            </a>
        </h3>
        <div class="product-price">
            <span class="price">{{formatCurrency price}}</span>
        </div>
    </div>
</div>