{{!-- <li>
    <a href="#" onclick="selectCategory('{{this._id}}', event)">{{name}}</a>
    {{#if children}}
        <ul class="child-categories">
            {{#each children}}
                {{> categoryNode this}}
            {{/each}}
        </ul>
    {{/if}}
</li> --}}

<li>
  <a href="#" data-category-id="{{this._id}}" onclick="selectCategory('{{this._id}}', event)">{{name}}</a>
  {{#if children}}
    <ul class="child-categories">
        {{#each children}}
            {{> categoryNode this}}
        {{/each}}
    </ul>
  {{/if}}
</li>