<nav aria-label="pagination-container">
  <ul class="pagination">
    {{#if hasPreviousPage}}
    <li class="page-item">
      <a class="page-link" href="?page={{previousPage}}">Previous</a>
    </li>
    {{else}}
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    {{/if}}

    {{#each pages}}
    <li class="page-item {{#if this.isCurrent}}active{{/if}}">
      <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
    </li>
    {{/each}}

    {{#if hasNextPage}}
    <li class="page-item">
      <a class="page-link" href="?page={{nextPage}}">Next</a>
    </li>
    {{else}}
    <li class="page-item disabled">
      <a class="page-link">Next</a>
    </li>
    {{/if}}
  </ul>
</nav>
