<figure class='trend-card card' data-id="{{id}}">
  <a href='/product/{{id}}' class='trend-card-img'>
    <img src='{{image}}' class='trend-prod-img' alt='Product Image' />
  </a>
  <p class='trend-card-title'>{{name}}</p>
  <p class='trend-card-price'>{{formatCurrency price}} VND</p>
  <a href='/product/{{id}}' class='btn trend-card-btn'>Buy now</a>
</figure>