<div class="product-item item{{id}} col-xl-3" data-psid="{{id}}">
  <div class="image">
    {{#if isnew}}
      <span class="flag">New</span>
    {{/if}}
    <a href="/product/{{id}}" title="{{title}}">
      <img
        data-sizes="auto"
        class="lazyautosizes ls-is-cached lazyloaded"
        src="{{image}}"
        data-src="{{image}}"
        alt="{{title}}"
        sizes="255px"
      />
    </a>
  </div>
  <h3 class="name">
    <a href="/product/{{id}}" title="{{title}}">
      {{title}}
    </a>
  </h3>
  <div class="product-price">
    <span class="price">{{formatCurrency price}}đ</span>
  </div>
</div>