<div class="d-flex justify-content-center mb-5 w-100">
  <div class="card left-card border-0 bg-gradient-dark w-30">
    <div class="p-7 d-flex flex-column justify-content-center"
    style="font-family: "Signika", sans-serif;">
      <div class="text-container d-flex flex-column align-items-center justify-content-center mb-5">
        <div class="card-title col-title fw-bold text-white m-0" style="font-size: 4rem;">Xác minh</div>
        <div class="text-body-secondary text-white">Vui lòng nhập mật khẩu để tiếp tục</div>
      </div>
      <form id="signinForm" action="/process-payment" method="post">
        <input type="hidden" name="total" value="{{totalPrice}}">
        <input type="hidden" name="accountID" value="{{accountID}}">
        <input type="hidden" name="orderID" value="{{idOrder}}">
        <div class="mb-2">
          <label for="inputPassword" class="form-label mt-3" style="font-size: 1.5rem; color: #e91e63;">Mật khẩu:</label>
          <input type="password" class="form-control mt-0 p-2" name="password" id="password" value="{{inputPassword}}"
          style="background: white;"
            required>
          <small id="pwErr" class="form-text text-danger">{{pwMsg}}</small>
        </div>
        <div class="d-grid gap-2 col-12 mt-4">
          <button class="btn btn-outline-dark bg-gradient-primary signUp-button fs-4 mt-3" style="height: 4rem;"
            type="submit">Xác minh</button>
        </div>
      </form>
    </div>
  </div>
</div>