<div class="container">
  <div class="row">
    <div class="col-2">
      {{!-- sider --}}
    </div>
    {{!-- balance --}}
    <div class="col-10">
      <div class="container-fluid mt-4 balance-container">
        <div class="row balance-header d-flex align-items-center rounded-4">
          <div class="col-md-6">
            <div id="balance" class="offset-md-1">
              <p>Số Dư: <span class="ms-3 fs-2 fw-bold">{{formatCurrency balance}}</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div id="deposit" class="offset-md-7">
              <button id="addFundsBtn" class="rounded-2" onclick="openForm()">Nạp Tiền</button>
            </div>
          </div>
        </div>
        {{!-- transaction and chart --}}
        <div class="row mt-4" class="col-md-6">
          <div id="transactions">
            <div class="row">
              <div class="col-md-6">
                <p class="fs-2 fw-bold mb-2">Lịch sử Giao Dịch</p>
                <div class="row d-flex align-items-center">
                  <div class="form-group col-5">
                    <label for="startDatePicker">Từ Ngày: </label>
                    <input type="date" id="startDate" class="form-control" value="{{dateOfInput startDate}}">
                  </div>
                  <div class="form-group col-5">
                    <label for="endDatePicker">Đến Ngày: </label>
                    <input type="date" id="endDate" class="form-control" value="{{dateOfInput endDate}}">
                  </div>
                  <div class="col-2 mt-4">
                    <button class="rounded" onclick="filterTransactions()">Tìm</button>
                  </div>
                </div>
                <ul class="list-group mt-3 overflow-y-auto overflow-x-hidden" id="transactionList">
                  {{#each history }}
                  <li class="mb-3">
                    <div class="row d-flex align-items-center">
                      <div class="col-7">
                        <p class="fw-bold"> MGD: {{id}}</p>
                        <span class="small">{{formatDate date}}</span>
                      </div>
                      <div class="col-5 text-end">
                        {{#if isIn}}
                          <span class="fw-bold text-success">+ {{formatCurrency money}}</span>
                        {{else}}
                           <span class="fw-bold text-danger">- {{formatCurrency money}}</span>
                        {{/if}}
                        
                      </div>
                    </div>
                  </li>
                  {{/each}}

                </ul>
              </div>
              {{!-- biểu đồ --}}
              <div class="col-md-6">
                <div id="chart">
                  <p class="fs-2 fw-bold mb-2">Biểu đồ biến động số dư</p>
                  <canvas id="lineChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- form input money --}}
<div id="overlay"></div>
<div id="rechargeForm" class="hidden" style="height: 150px; width: 250px">
  <form action="/balance/recharge" method="get">
    <label for="amount">Nhập số tiền cần nạp:</label>
    <input type="number" class="form-control" id="amount" name="amount" required>
    <div class="row text-center mt-3">
      <button type="submit" class="col-5 offset-1 rounded">Xác Nhận</button>
      <button type="button" class="col-4 offset-1 rounded" onclick="closeForm()">Hủy</button>
    </div>  
  </form>
</div>

<script>
  //chart
  updateChart();
  function updateChart() {
    var ctx = document.getElementById('lineChart').getContext('2d');

    let labels = [];
    {{#each history}}
      labels.push("{{dateOfOrder date}}");
    {{/each}}

    let dataS = [];
    {{#each history}}
      dataS.push("{{this.balance}}");
    {{/each}}

    lables = labels.slice(0, 15);   
    dataS = dataS.slice(0, 15); 

    const data = {  
      labels: labels.reverse(),
      datasets: [{
        label: 'Số Dư',
        data: dataS.reverse(),
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    };

    var options = {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    };

    var lineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });
  }
  //filter transactions
   function filterTransactions(){
      let startDate = $("#startDate").val();
      let endDate = $("#endDate").val();
       startDate = new Date(startDate);
       endDate = new Date(endDate);
      let currentDate = new Date();
      if (isNaN(startDate) || isNaN(endDate)) {
        alert("Ngày bắt đầu và ngày kết thúc không được để trống. Vui lòng nhập lại.");
      } 
      else if (startDate > endDate ){
        alert("Ngày bắt đầu phải trước ngày kết thúc!");
      }
      else if (endDate > currentDate) {
          alert("Ngày kết thúc không được sau ngày hiện tại!");
      } else {
          window.location.href = `/balance?startDate=${startDate}&endDate=${endDate}`
      }
    }

function openForm() {
  $("#overlay").css("display", "block");
  $("#rechargeForm").css("display", "block");
}

function closeForm() {
  $("#overlay").css("display", "none");
  $("#rechargeForm").css("display", "none");
}

</script>