<div id="balance-hbs-container" class="container m-0 p-0">
  <div class="row">
    <div>
      <div class="container-fluid balance-container w-100 p-4">
        <div class="balance-header d-flex align-items-center justify-content-between rounded-4 ps-6 pe-6">
          {{!-- <div class="col-md-6"> --}}
            <div id="balance">
              <div>Số Dư: <span class="ms-3 fs-4 fw-bold">{{formatCurrency balance}}</span></div>
            </div>
          {{!-- </div> --}}
          {{!-- <div class="col-md-6"> --}}
            <div id="deposit">
              <button id="addFundsBtn" class="rounded-2" onclick="openForm()">Nạp Tiền</button>
            </div>
          {{!-- </div> --}}
        </div>
        {{!-- transaction and chart --}}
        <div class="row mt-4" class="col-md-6">
          <div id="transactions">
            <div class="row">
              <div class="col-md-6">
                <p class="fs-4 fw-bold mb-2">Lịch sử Giao Dịch</p>
                <div class="row d-flex align-items-center">
                  <div class="form-group col-5">
                    <label for="startDatePicker">Từ Ngày: </label>
                    <input type="date" id="startDate" class="form-control" value="{{dateOfInput startDate}}">
                  </div>
                  <div class="form-group col-5">
                    <label for="endDatePicker">Đến Ngày: </label>
                    <input type="date" id="endDate" class="form-control" value="{{dateOfInput endDate}}">
                  </div>
                  <div class="col-2 mt-4">
                    <button class="rounded" onclick="filterTransactions()">Tìm</button>
                  </div>
                </div>
                <ul class="list-group mt-3 overflow-y-auto overflow-x-hidden" id="transactionList">
                  {{#each history }}
                  <li class="mb-3" onclick="showTransactionDetail('{{id}}', '{{formatDate date}}','{{isIn}}', '{{formatCurrency money}}', '{{description}}' )">
                    <div class="row d-flex align-items-center">
                      <div class="col-8">
                        <p class="fw-bold fs-6"> GD: {{id}}</p>
                        <span class="small">{{formatDate date}}</span>
                      </div>
                      <div class="col-4 text-end">
                        {{#if isIn}}
                          <span class="fw-bold fs-6 text-success">+ {{formatCurrency money}}</span>
                        {{else}}
                           <span class="fw-bold text-danger">- {{formatCurrency money}}</span>
                        {{/if}}       
                      </div>
                    </div>
                  </li>
                  {{/each}}

                </ul>
              </div>
              {{!-- biểu đồ --}}
              <div class="col-md-6">
                <div id="chart">
                  <p class="fs-4 fw-bold mb-2">Biểu đồ biến động số dư</p>
                  <canvas id="lineChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- form input money --}}
<div id="overlay"></div>
<div id="rechargeForm" class="hidden">
  <form action="/balance/recharge" method="get">
    <label for="amount">Nhập số tiền cần nạp:</label>
    <input type="number" class="form-control border" id="amount" name="amount" required>
    <div class="row d-flex justify-content-center mt-3">
      <button type="submit" class="col-4 rounded">Xác Nhận</button>
      <button type="button" class="col-4 offset-1 rounded" onclick="closeForm()">Hủy</button>
    </div>  
  </form>
</div>

{{!-- display transaction detail --}}
<div id="transactionDetail" class="hidden">
  <div class="detail">
    
  </div>   
    <div class="row text-center mt-3">
      <button type="button" class="col-4 offset-4 rounded" onclick="closeDetail()">Đóng</button>
    </div>  
</div>

<script>
  //chart
  updateChart();
  function updateChart() {
    var ctx = document.getElementById('lineChart').getContext('2d');

    let labels = [];
    {{#each history}}
      labels.push("{{dateOfOrder date}}");
    {{/each}}

    let dataS = [];
    {{#each history}}
      dataS.push("{{this.balance}}");
    {{/each}}

    lables = labels.slice(0, 15);   
    dataS = dataS.slice(0, 15); 

    const data = {  
      labels: labels.reverse(),
      datasets: [{
        label: 'Số Dư',
        data: dataS.reverse(),
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    };

    var options = {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    };

    var lineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });
  }
  //filter transactions
   function filterTransactions(){
      let startDate = $("#startDate").val();
      let endDate = $("#endDate").val();
       startDate = new Date(startDate);
       endDate = new Date(endDate);
      let currentDate = new Date();
      if (isNaN(startDate) || isNaN(endDate)) {
        alert("Ngày bắt đầu và ngày kết thúc không được để trống. Vui lòng nhập lại.");
      } 
      else if (startDate > endDate ){
        alert("Ngày bắt đầu phải trước ngày kết thúc!");
      }
      else if (endDate > currentDate) {
          alert("Ngày kết thúc không được sau ngày hiện tại!");
      } else {
          window.location.href = `/balance?startDate=${startDate}&endDate=${endDate}`
      }
    }

function openForm() {
  $("#overlay").css("display", "block");
  $("#rechargeForm").css("display", "block");
}

function closeForm() {
  $("#overlay").css("display", "none");
  $("#rechargeForm").css("display", "none");
}
//show transaction detail
function showTransactionDetail(id, date, isIn, money, description ){
  if (description == "recharge"){
    description = "Nạp tiền"
  }

  if (isIn == "true"){
    money = "+ " + money;
  }
  else{
    money = "- " + money;
  }

  $("#overlay").css("display", "block");
  $("#transactionDetail").css("display", "block");

  $("#transactionDetail .detail").html(`
    <span class="text-white fs-4 fw-bold d-flex justify-content-center mt-3">Thông tin chi tiết giao dịch</span> 
    <div class="row">
      <div class="col-4 offset-2 mt-4">
         <p>Mã Giao Dịch: </p>
      </div>
      <div class="col-3 mt-4">
        ${id}
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2">
         <p>Ngày Giao Dịch: </p>
      </div>
      <div class="col-4">
        ${date.split(" ")[0]}
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2">
         <p>Giờ Giao Dịch: </p>
      </div>
      <div class="col-4">
        ${date.split(" ")[1]}
      </div>
    </div>
     <div class="row">
      <div class="col-4 offset-2">
         <p>Số Tiền: </p>
      </div>
      <div class="col-3">
        ${money}
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2">
         <p>Mô tả: </p>
      </div>
      <div class="col-3">
        ${description}
      </div>
    </div>
  `)
}
function closeDetail(){
  $("#overlay").css("display", "none");
  $("#transactionDetail").css("display", "none");
}

</script>