<div class="checkout-page container sty-none d-flex align-items-center justify-content-center m-0"
style="height: 100vh; width: 100vw;">
  <form id="formCheckOut" {{!-- class="formCheckOut formAcount validate" --}}
    class="validate d-flex flex-column justify-content-center align-items-center w-50 bg-gradient-dark pt-5 pb-5 m-0 border-radius-xl" method="post">
    <div class="col-title font-weight-bold text-white"
    style="font-size: 3rem;">
      Thông tin thanh toán
    </div>
    <div class="info-container mt-5 mb-5">
      <div class="form-group">
        <label class="font-weight-bold">Họ tên:</label>
        <p class="text-white" id="customerName" style="font-size: 1.5rem;">{{order.name}}</p>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Customer ID:</label>
        <p class="text-white" id="customerID" style="font-size: 1.5rem;">{{order.idaccount}}</p>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Order ID:</label>
        <p class="text-white" id="orderID" style="font-size: 1.5rem;">{{order._id}}</p>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Điện thoại:</label>
        <p class="text-white" id="customerMobile" style="font-size: 1.5rem;">{{order.phone}}</p>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Email:</label>
        <p class="text-white" id="customerEmail" style="font-size: 1.5rem;">{{order.email}}</p>
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Address:</label>
        <p class="text-white" id="customerAddress" style="font-size: 1.5rem;">{{order.address}}</p>
      </div>
    </div>

    <div id="payButton" class="btn bg-gradient-primary d-flex justify-content-center align-items-center"
      style="height:5rem; width:15rem; font-size: 1.5rem;">Thanh toán</div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var payButton =
      document.getElementById('payButton'); var totalPrice = '{{totalPrice}}'; var
        accountId = '{{order.idaccount}}'; var orderId = '{{order._id}}';
    payButton.addEventListener('click', function () {
      window.location.href =
        '/payment/authenticate?total=' + encodeURIComponent(totalPrice) +
        '&idaccount=' + encodeURIComponent(accountId) + '&idorder=' +
        encodeURIComponent(orderId);
    });
  });
</script>